.tableIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.rowNumber {
    width: 10px;   
}

.iconsCell {
    display:inline-block;
}

.changingCell {
    width: 20px;
}

.deleteCell {
    width: 20px;
}

.showItem {
    visibility: visible;
}

.hiddenItem {
    visibility: hidden;
}

.tableCellInput {
    height: 25px;
}

.nameCell {
    font-weight: 700;
}