.tableIcon {
    width: 25px;
    height: 25px;
}

.firstCell {
    width: 10px;   
}

.thirdCell {
    width: 20px;
}

.fourthCell {
    width: 20px;
}

.showItem {
    visibility: visible;
}

.hiddenItem {
    visibility: hidden;
}

.tableCellInput {
    height: 25px;
}